body {
    font-family: sans-serif;
    background-color: #F2FECA
}

h1 {
    border-bottom: 2px solid #000000;
}

p.name {
    border: 1px solid;
    font-weight: bold;
    margin: 1px;
    padding: 1px;
    padding-left: 20px;
}

a:link,
a:visited  {
    color: #000000;
    text-decoration: none;    
}

.item {
    width: 300px;
    height: 100px;
    display: inline-block;
    border: 1px solid;
    padding: 7px;
    margin: 3px;
    background-color: #BCFCC9;
    position: relative;
}

.buttonblock{
    display: inline-block;
}


.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding:10px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}