<html>
    <head>
       	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head> 
    <body>
    <h1>Menu Item Edition</h1>
    <form action="{{url_for('menuNew', restaurant_id = restaurant_id)}}" method = 'POST'>
    <table style="width:100%">
    <tr>
        <td>Name:</td>
        <td><input type='text' size='60' name='name'></td> 
    </tr>
    <tr>
        <td>Description:</td>
        <td><input type='text' size='60' name='description'></td>
    </tr>
    <tr>
        <td>Course:</td>
        <td><input type='text' size='60' name='course' ><br></td>
    </tr>
        <tr>
        <td>Price:</td>
        <td><input type='text' size='60' name='price'><br></td>
    </tr>
    </table>
    <p><input type='submit' value='Add new menu item'></p>
    </form>
    <form  action="{{url_for('menuList', restaurant_id = restaurant_id)}}">
        <input type="submit" value="Cancel" />
    </form>

    </body>
</html>